<!DOCTYPE html>

<html>
<head>
	
	<title>Admin Login</title>
	<meta charset="UTF-8">
	
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>	
	<style type="text/css">
		body{
			margin-top: 50px;
			background-color: #f0f0f0;
		}
		
		.autocenter{
			float: none;
			margin: auto;
		}	
		.card-header{
			text-align: center;
		}	
		.container{
			font-family: "Times New Roman", Times, serif;
		}
		.password-show-card{
	position: relative
}
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Open+Sans:300,400|Oswald:400,700');

.password-show-card .input-control{
	width: 100%;
	height: 40px;
	background: #fff;
	border: 1px solid #eee;
	box-shadow: 0px 0px 2px #eee;
	padding: 6px 12px;
	font-size: 14px;
	color: #333333
}

.password-show-card .input-control:focus{
border: 1px solid #66afe9;
}

.password-show-card .password-show{
position: absolute;
top: 12px;
right: 12px;
cursor: pointer;
}
	</style>
</head>
<body>
	
	
	<html>
	
	<body>
		
		
		<style>
			
			body {
				background-image: url('https://ak.picdn.net/shutterstock/videos/16439401/thumb/5.jpg');
				
				background-repeat: no-repeat;
				
				height: 500; /* You must set a specified height */
				background-position: center; /* Center the image */
				background-repeat: no-repeat; /* Do not repeat the image */
				background-size: cover; 
				color: #ebeaf1;
			}
			body{
				margin-top: 150px;
				/* background-color: #f0f0f0; */
			}
			
			.autocenter{
				float: none;
				margin: auto;
			}	
			.card{
				padding: 10px;
				background-color:rgba(0, 0, 0, 0.534);
				padding:40px;
				box-shadow: 0 0 10px #000;
			}
			.autocenter{
				float: none;
				margin: auto;
			}
			.btn {
                    height: 50px;
                    color: rgb(255, 255, 255);
                    font-family: 'Times New Roman', ;
                    font-size: 20px;
                    background: rgb(105, 105, 105);
                    cursor: pointer;
                    border-radius: 100px;
                    border: none;
                    outline: none;
                    margin-top: 1%;
					
                }
				.modal-body{
		color: rgb(0, 0, 0);
	}
	.modal-header{
		color: rgb(255, 0, 0);
	}
			
		</style>
		<!-- <style type="text/css">
			.main_login form {padding-top: 30px;}
			
			.controls.show-hide-wpd span.icon-eye.show-pwd {
				position: absolute;
				right: 0px;
				top: 0px;
				height: 28px;
				padding-top: 14px;
				width: 35px;
				text-align: center;
				cursor: pointer;
			}
			.controls.show-hide-wpd {
				position: relative;
			}
			.controls.show-hide-wpd input {
				padding-right: 32px !important;
				width:100%;
			}
			span.icon-eye.show-pwd.active:before, span.icon-eye.show-pwd:hover {
				color: #2184f6;
			}
		</style> -->
	</body>
	</html>
	<!-- for include "-" is important after and before % -->
	<% if(responseMessage=="wrong"){ %> 
		<!-- The Modal -->
		<div class="modal" id="errorModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">Error</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<!-- Modal body -->
					<div class="modal-body">
						<h4>Invalid Credentials. Please try again.</h4>
					</div>
					<!-- Modal footer -->
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
					</div>
					
				</div>
			</div>
		</div>
		<script type="text/javascript">
			$("#errorModal").modal();
		</script>
		<% }  %>
		<div class="container">
			<div class="col-sm-6 autocenter">
				<div class="card">
					<div class="card-header">
						<h4>Log In</h4>
					</div>
					<div class="card-body">
						<form action="/login_admin" method="post" class="needs-validation" novalidate autocomplete="off">
							<div class="form-group">
								<label for="email">Email address:</label>
								<input type="email" class="form-control" placeholder="Enter email" name="email" id="email" value="" required>
								<div class="invalid-feedback">Please fill valid email address.</div>
							</div>
							<div class="password-show-card">
								<label for="password">Password:</label>
								<input type="password" class="input-control" placeholder="Enter password" name="password" id="password" required>
								<i class="fa fa-eye password-show"></i>
								<div class="invalid-feedback">Please fill out this field.</div>
							</div>
							<script src="js/jquery-latest.min.js"></script>
							<script>
								$(function(){
									$(".password-show").click(function(event) {
										$(this).toggleClass('fa-eye-slash');
										var x = $(".input-control").attr("type"); //getting attribute in variable
										if (x == "password") 
										{
											$(".input-control").attr("type","text"); //setting attribute on condition
										}
										else
										{
											$(".input-control").attr("type","password");
										}
									});
								})
							</script>
							<br>
							<button type="submit" class="btn btn-primary">Submit</button>
							<br>
						</form>
					</div>
				</div>
			</div>
		</div>
		<%- include('footer'); -%>